html{
    font-size: 22px
}

.div-homepage-headline{
    position: fixed;
    width: 100%;
    height: 100px;
    background: #ffffff;
    top: 0;
    left: 0;
    right: 0;
}
.header_nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0px;
    align-items: center;
    justify-content: space-between;
}
.header_nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

.header_nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.header_nav ul li a:hover{
    color: green;
}

.details{
    margin-left: 8%;
    padding-top: 300px;
}

.details h1{
    font-size: 50px;
    color: black;
    margin-bottom: 20px;
}

span{
    color: orange;
}

.details p{
    color: #555;
    line-height: 22px;
}

.details a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.div-img{
    position: absolute;
    top: 150px;
    left: 60%;
    z-index: -1;
}
.div-buttons{
    display: inline-block;
    vertical-align: top;
}

body {
    background-color: white;
    color: black;
}
.home-img {
    display: inline-block;
    width: 500px;
    border-radius: 50%;
}